@media (min-width: 1200px) {

}

@media (min-width:400px){

}

.background{
  background-color: #ffa500;
}

.topcorner{
text-align: right;
}

.logo {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  /* background-color:#fff1d3;  */
  background-image: url("/static/images/background.png");
  background-size: cover;
  background-position: center;
  width: 550px; 
  height: 600px; 
  margin: auto;
}

.title {
  font-size: 48px;
  padding-bottom: 10px;

}

.intro-text {
  font-size: 15px;
}


textarea.user-text{
  width: 500px;
  height: 500px;
  max-width: 500px;
  margin:20px;
  font-family: "Montserrat", serif;
  font-size: 20px;
  border-radius: 10px;
  border-color: #ffa500;
  flex: 1;
  background-color: #fff1d3;
}


.user-text-box{
  padding-bottom: 40px;
}

textarea.user-link{
  width: 100%;
  height: 40px;
  max-width: 500px;
  margin:20px;
  font-family: "Montserrat", serif;
  font-size: 20px;
  border-color: #ffa500 ;
  border-style: double;
  border-width: 7px;
  flex: 1;
}

::placeholder {
  font-size: 20px;
}

.submit{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #ffa500 ;
    font-family: "Pacifico", serif;
    
}

h2{
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat", serif;
}

input[type=submit] {
  border:0 none;
  cursor:pointer;
  border-radius: 50%; 
  width: 120px;
  height: 120px;
  background-color: #38b772;
  color: #fff;
  font-size: 100px;
  text-align: center;
  line-height: 25px;
}

.submit-box{
  padding-top: 80px;
}

.user-file{
    display: block;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin-bottom: 15px;
}

.user-file input{
    display: inline;
}

.contain {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0px;
    display: inline-block;
    height: 80px;
    width: 150;
  
  }
  
  /* Hide the browser's default checkbox */
  .contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 150px;
    text-align: center;
    background-color: #eee;
    font-size: 18px;
    font-family: "Montserrat", serif;
  }
  
  /* On mouse-over, add a grey background color */
  .contain:hover input ~ .checkmark {
    background-color: rgb(192, 192, 192);
  }
  
  /* When the checkbox is checked, add a blue background */
  .contain input:checked ~ .checkmark {
    background-color: #ffa500;
  }

  .text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }

  .flex-child{
    flex: 1;
    max-width: 500px;
  }

  .form{
    text-align: center;
  }

  .text{
    text-align: center;
    padding-left: 20px;
  }

  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }




  .autocomplete-items {
    position: relative;
    /*border: 1px solid #f8c474;*/
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;

  }


  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 25px;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;

  }

  .autocomplete-group {
    width: 400px;
    margin: auto;
  }

  .form-control{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    margin: auto;
  }

  .autocomplete1 {
    width: 1000px;
  }

  .text-or-link-button {
    list-style-type: none;
    margin: 25px 0 0 0;
    width: 600px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .text-or-link-button li {
    float: left;
    margin: 0 5px 0 0;
    width: 200px;
    height: 45px;
    position: relative;
  }
  
  .text-or-link-button label,
  .text-or-link-button input {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff1d3;
    opacity: 60%;
    border-radius: 10px;
  }

  .text-or-link-button input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .text-or-link-button input[type="radio"]:checked+label,
  .Checked+label {
    background: #fff1d3;
    opacity: 100%;
  }
  
  .text-or-link-button label {
    padding: 5px;
    padding-top: 9px;
    cursor: pointer;
    z-index: 90;
    justify-content: center;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 17px;
  }

  .prefered-heading{
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 900;
  }

  .artist-box{
    background-color: #f8c474;
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .genre-box{
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .checkbox-custom {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .checkbox-custom:active, .checkbox-customx:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .checkbox-custom:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

  .checkbox-custom:checked:after {
    content: '\2714';
    font-size: 40px;
    position: absolute;
    left: 6px;
    color: #99a1a7;
    text-align: center;
  }

  .check-and-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #f8c474;
    padding: 65px;
  }

  .check-text{
    width: 400px;
    padding-right: 50px;
    text-align: left;
  }