<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat">
  </head>
  <body class="background" style="background-color: #ffa500;">
    <h1, style="font-size: 30px; font-family: Montserrat, serif; color: black;">Something went wrong!</h1>
    <h2>Error Code: {{code}}</h2>
    <p>Error Message: {{message}}</p>
    <p align="center"><a href= /><button class="return-button">New search</button></a></p>
  </body>
</html>
