<html>

<head>
  <title>Result Page</title>
  <link rel="stylesheet" href="/static/output2.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat|Quicksand|Varela+Round">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@900&display=swap">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
    </script>
</head>


<div class='output'>
  {% if result %}
  <div class='title-info'>
    <h1 class='result'>Your Results</h1>

    {% if clicked %}
    <p align="center"><iframe class='spotify-player' src="https://open.spotify.com/embed/playlist/{{playlist}}"
        width="400" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
    {% endif %}

    <p class='info'>Here is everything we know about your fanfic
    </p>
    <div class='line'></div>
    <div class='fic-score-wrapper'>
      <div class='fic-score-item'>
        <img class='score-label' src='/static/images/5.png'></img>
        <p class='score-num'>{{result['fanfic']['scores']['Sexual']}}</p>
        <p class='score-cat-name'>Sexual</p>
        {% if (result['fanfic']['scores']['Sexual'] <= 30) %} <p>This score indicates the amount of sexual content in
          your fanfiction.
          Based on our AI prediction, your fanfiction barely has
          any explicit sexual content. It can be safely rated as PG-13</p>

          {% elif (result['fanfic']['scores']['Sexual'] > 30) and (result['fanfic']['scores']['Sexual'] <= 70) %} <p>
            This score indicates the amount of sexual content in your fanfiction.
            Based on our AI prediction, your fanfiction has a moderate amount of sexual content,
            so it’s probably not PG-13, but still not very explicit.
            </p>

            {% else %}
            <p>This score indicates the amount of sexual content in your fanfiction.
              Based on our AI prediction, your fanfiction probably
              has a lot of EXPLICIT sexual content. Definitely NSFW
            </p>
            {% endif %}
      </div>

      <div class='fic-score-item'>
        <img class='score-label' src='/static/images/4.png'></img>
        <p class='score-num'>{{result['fanfic']['scores']['Romance']}}</p>
        <p class='score-cat-name'>Romantic</p>
        {% if (result['fanfic']['scores']['Romance'] <= 30) %} <p>This score indicates how romantic your fanfiction is.
          Based on our AI prediction, your fanfiction is not very romantic,
          so there’s probably not much kissing, cuddling, or love confessions going on.
          </p>


          {% elif (result['fanfic']['scores']['Romance'] > 30) and (result['fanfic']['scores']['Romance'] <= 70) %} <p>
            This score indicates how romantic your fanfiction is.
            Based on our AI prediction, your fanfiction probably has a
            moderate amount of romance involved, but it's not the overwhelming theme
            </p>

            {% else %}
            <p>This score indicates how romantic your fanfiction is.
              Based on our AI prediction, your fanfiction is very romantic,
              meaning the characters are probably madly in love with each other
            </p>
            {% endif %}
      </div>

      <div class='fic-score-item'>
        <img class='score-label' src='/static/images/3.png'></img>
        <p class='score-num'>{{result['fanfic']['scores']['Emo']}}</p>
        <p class='score-cat-name'>Emotional</p>
        {% if (result['fanfic']['scores']['Emo'] <= 30) %} <p>This score indicates how sad your fanfiction is.
          Based on our AI prediction, your fanfiction is probably
          a light-hearted story with little to no angst involved.
          </p>

          {% elif (result['fanfic']['scores']['Emo'] > 30) and (result['fanfic']['scores']['Emo'] <= 75) %} <p>This
            score indicates how sad your fanfiction is.
            Based on our AI prediction, you have a fanfiction that is neither too sad nor too happy,
            or it could just be the emotions are well-balanced!
            </p>

            {% else %}
            <p>This score indicates how sad your fanfiction is.
              Based on our AI prediction, your fanfiction is very emotional and sad.
              Did you cry when you were reading/writing this?
            </p>
            {% endif %}

      </div>
      {% endif %}
    </div>
    <br>
  </div>

</div>
</div>

<div class="sentence-container">
  {% if result %}
  <div>
    <h2 class='sentence-header'><b>Here are some sentences that we think capture your fanfic:</b></h2>
    <div class='sentence-box'>
      <ul>
        {% for sent in result['fanfic']['analysis']['top_sentences'][:7]%}
        <li class="sentence-list-item">
          <p class='sentences'>{{sent}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <img class='sentence-pic' src="/static/images/books.svg">
</div>
{% endif %}
</div>

{% if result %}


<div class='background-square-ga'>
  <p class='genre-description'>Based on your preferences and your fanfic, here are the songs we recommend...</p>
  <ul class='genre-list'>
    {% if sel_genres %}

    {% for genre in sel_genres %}
    <li class='genre'>
      <p class='genre-text'>{{genre}}</p>
    </li>
    {%endfor%}

    {% else %}
    <li class='genre'>
      <p class='genre-text'>no genre selected</p>
    </li>
    {% endif %}

    {% if sel_artists %}
    {% for artist in sel_artists %}
    <li class='genre'>
      <p class='genre-text'>{{artist}}</p>
    </li>
    {%endfor%}

    {% else %}
    <li class='genre'>
      <p class='genre-text'>no artist selected</p>
    </li>
    {% endif %}

    {% if popular %}
    <li class='genre'>
      <p class='genre-text'>prefer popular</p>
    </li>
    {% else %}
    <li class='genre'>
      <p class='genre-text'>popularity ignored</p>
    </li>
    {% endif %}


  </ul>

  <div class="paddles">
    <button class="left-paddle paddle">
      &#8249; </button>
    <button class="right-paddle paddle">
      &#8250;
    </button>
  </div>
</div>

<div class='arrow-row'>
  {% if result %}
  <button id={{result['songs'][0]['id']}} class="arrow-down1" onclick="setColor(event,{{result}})">
    <p class='number-image' id={{result['songs'][0]['id']}}>1</p>
  </button>
  {% for song in result['songs'][1:9] %}
  <button id={{song['id']}} class="arrow-down" onclick="setColor(event,{{result}}) 
        ">
    <p class='number-image' id={{song['id']}}>{{loop.index0+2}}</p>
  </button>
  {% endfor %}
  <button id={{result['songs'][9]['id']}} class="arrow-down10" onclick="setColor(event,{{result}}) 
        ">
    <p class='number-image-10' id={{result['songs'][9]['id']}}>10</p>
  </button>
  {% endif %}
</div>



<div class='background-square'>
  {% for song in result['songs'] %}
  <div class='song-card' {% if loop.index0 !=0%} hidden {%endif%} id={{song['id']}}>
    <div class='score-types'>
      <div>
        <div class='icon-label'>
          <img class='icon-placeholder' src='/static/images/6.png'></img>
          <div class='label-line'>
            <p class='score-name'>Sentiment</p>
            <div class='score-line'></div>

            <div class='progress-bars'>
              <svg class="radial-progress" data-percentage={{song['scores']['sentiment']}} viewBox="0 0 80 80">
                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                <text class="percentage" x="50%" y="57%"
                  transform="matrix(0, 1, -1, 0, 80, 0)">{{song['scores']['sentiment']}}%</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='icon-label'>
          <img class='icon-placeholder' src='/static/images/6.png'></img>
          <div class='label-line'>
            <p class='score-name'>Preference</p>
            <div class='score-line'></div>
            <div class="progress-circle p10">
              <svg class="radial-progress" data-percentage={{song['scores']['preference']}} viewBox="0 0 80 80">
                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                <text class="percentage" x="50%" y="57%"
                  transform="matrix(0, 1, -1, 0, 80, 0)">{{song['scores']['preference']}}%</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='icon-label'>
          <img class='icon-placeholder' src='/static/images/6.png'></img>
          <div class='label-line'>
            <p class='score-name'>Audio</p>
            <div class='score-line'></div>
            <div class="progress-circle p10">
              <svg class="radial-progress" data-percentage={{song['scores']['audio']}} viewBox="0 0 80 80">
                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                <text class="percentage" x="50%" y="57%"
                  transform="matrix(0, 1, -1, 0, 80, 0)">{{song['scores']['audio']}}%</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class='icon-label'>
          <img class='icon-placeholder' src='/static/images/6.png'></img>
          <div class='label-line'>
            <p class='score-name'>Lyrics</p>
            <div class='score-line'></div>
            <div class="progress-circle p10">
              <svg class="radial-progress" data-percentage={{song['scores']['lyrics']}} viewBox="0 0 80 80">
                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                <text class="percentage" x="50%" y="57%"
                  transform="matrix(0, 1, -1, 0, 80, 0)">{{song['scores']['lyrics']}}%</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='song-info-genius-link-container'>
      <div class='song-info-square'>
        <h2 class='song-title'> <b>{{song['title']}}</b> </h2>
        <p class='song-artist'>by <b>{{song['artist']}}</b> </p>
        <p class='song-other-info'>Song Popularity: {{song['song_popularity']}}</p>
        <p class='song-other-info'>Genres: {{song['artist_genre']}}</p>
        <!-- <img class='album-cover' src='/static/images/7.png'></img> -->
      </div>
      <div class='genius-link-square'>
        <p class='genius-info'>Check out the lyrics at Genius.com: &nbsp;</p>
        <a class='genius-link' href={{song['genius_link']}} target="_blank"> {{song['genius_link']}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <form action="{{spotify_auth_url}}" class="button-flex2">
    <!-- <input type="submit" value="Click Here To Create Your Playlist on Spotify" /> -->
    <input class='spotify-question' type="image" src="/static/images/spotify.svg" />
  </form>

  <!-- <p align="center"><a href= /><button class="return-button">New search</button></a></p> -->
  <p align="center"><a href= /><img class='back-button' src="/static/images/back.png" /></a></p>
</div>



{% endif %}
</div>
</div>
</div>

<script>
  function setColor(e, result) {
    var target = e.target;
    $(".song-card").each(function () {
      if ($(this).attr('id') == target.id) {
        $(this).removeAttr('hidden');
      }
      else {
        $(this).attr('hidden', true);
      }
    }
    );
    $(".arrow-down, .arrow-down1, .arrow-down10, .number-image, .number-image10").each(function () {
      if ($(this).attr('id') != target.id) {
        $(this).css('border-top-color', "#7ed957");

      }
      else {
        $(this).css('border-top-color', "#008037");
      }
    });
  }
</script>

<script>


  $('svg.radial-progress').each(function (index, value) {

    // Get percentage of progress
    percent = $(value).data('percentage');
    // Get radius of the svg's circle.complete
    radius = $(this).find($('circle.complete')).attr('r');
    // Get circumference (2πr)
    circumference = 2 * Math.PI * radius;
    // Get stroke-dashoffset value based on the percentage of the circumference
    strokeDashOffset = circumference - ((percent * circumference) / 100);
    console.log(strokeDashOffset);
    // Transition progress for 1.25 seconds
    $(this).find($('circle.complete')).animate({ 'stroke-dashoffset': strokeDashOffset }, 1250);
  }
  );

</script>

<script>
  // duration of scroll animation
  var scrollDuration = 300;
  // paddles
  var leftPaddle = document.getElementsByClassName('left-paddle');
  var rightPaddle = document.getElementsByClassName('right-paddle');
  // get items dimensions
  var itemsLength = $('.genre').length;
  var itemSize = $('.genre').outerWidth(true);
  // get some relevant size for the paddle triggering point
  var paddleMargin = 20;

  // get wrapper width
  var getMenuWrapperSize = function () {
    return $('.background-square-ga').outerWidth();
  }
  var menuWrapperSize = getMenuWrapperSize();
  // the wrapper is responsive
  $(window).on('resize', function () {
    menuWrapperSize = getMenuWrapperSize();
  });
  // size of the visible part of the menu is equal as the wrapper size 
  var menuVisibleSize = menuWrapperSize;

  // get total width of all menu items
  var getMenuSize = function () {
    var totalWidth = 0;
    $(".genre").each(function () {
      totalWidth += $(this).outerWidth();
    });
    return totalWidth;
  };
  var menuSize = getMenuSize();
  // get how much of menu is invisible
  var menuInvisibleSize = menuSize - menuWrapperSize;

  // get how much have we scrolled to the left
  var getMenuPosition = function () {
    return $('.genre-list').scrollLeft();
  };

  // finally, what happens when we are actually scrolling the menu
  $('.genre-list').on('scroll', function () {

    // get how much of menu is invisible
    menuInvisibleSize = menuSize - menuWrapperSize;
    // get how much have we scrolled so far
    var menuPosition = getMenuPosition();

    var menuEndOffset = menuInvisibleSize - paddleMargin;

    // show & hide the paddles 
    // depending on scroll position

    if (menuPosition <= paddleMargin) {
      $(leftPaddle).addClass('hidden');
      $(rightPaddle).removeClass('hidden');
    } else if (menuPosition < menuEndOffset) {
      // show both paddles in the middle
      $(leftPaddle).removeClass('hidden');
      $(rightPaddle).removeClass('hidden');
    } else if (menuPosition >= menuEndOffset) {
      $(leftPaddle).removeClass('hidden');
      $(rightPaddle).addClass('hidden');
    }


  });

  // scroll to left
  $(rightPaddle).on('click', function () {
    $('.genre-list').animate({ scrollLeft: '+=400' }, scrollDuration);
  });
  // scroll to right
  $(leftPaddle).on('click', function () {
    $('.genre-list').animate({ scrollLeft: '-=400' }, scrollDuration);
  });
</script>


<script>
  var box = document.querySelector('.popup');

  // When the user clicks to open modal
  function showSongInfo(song, event) {
    var elem = event.target;
    console.log(elem.classList);
    elem.classList.toggle("show");
    box.querySelector('h3').innerText = 'Popup Box ' + elem.id;
    box.querySelector('p').innerText = 'You are currently viewing popup box ' + elem.id + '.';
  }
  function showSongInfo2(song, event) {
    var popup = document.getElementById(song['id']);
    popup.classList.toggle("show");
  }
  // When the user clicks to close modal
  /*
    document.querySelector('.close-box').addEventListener('click', function (event) {
      box.style.display = "none";
    });
    */
  function roundNumber(num, places) {
    return Math.round(num * Math.pow(10, places)) / Math.pow(10, places);
  }
</script>



<!-- <script>
  var sexualScore = parseInt("{{result['fanfic']['scores']['Sexual']}}", 10);
  if (sexualScore < 20) {
    console.log("here");
    var des = document.getElementById("sexual-score-description").value = "Good Day";
  }
</script> -->

</html>